p#error-msg {
    color: #AA1313;
    display: none;
    font-weight: 700;
}

table, tr, td, thead {
    width: 95%;
    text-align: left;
    border-collapse: collapse;
    vertical-align: top;
    font-size: 20px;
}

h2, h5 {
    margin: 5px;
    margin-left: 0;
}

h4 {
    margin: 0;
}

table.size, table.topping {
    table-layout: fixed ;
    width: 100%;
    vertical-align: top;
    margin-bottom: 15px;
}

th td .size {
    width: 33%;
} 

th td .topping {
    width: 20%;
}

.group-button > button {
    display: inline-block;
}

body, html {
    background-color: #ED3F43;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 3px;
    padding-bottom: 3px;
}

form > label {
    font-weight: 700;
    font-size: 15px;
}

.card {
    background-color: white;
    border-radius: 15px;
    position: relative;
    min-width: 1080px !important;
    max-width: 1280px !important;
    min-height: 86.5vh !important;
}

.card.full {
    padding: 30px 50px;
    min-width: calc(100% - 110px);
    max-width: calc(100% - 110px);
    min-height: 100%;
    margin: auto;
    background-color: #FFF5F5;
    background-image: url(../images/pizza_background.png);
    background-size: auto 180%;
    background-repeat: no-repeat;
    background-position: 1000% 50%;
    animation: animatedbackground 1s ease-in 1.2s 1 forwards;
}

.card.full.order {
    background-position: -1000% 50%;
    background-size: auto 100%;
    animation: animatedbackground1 1s ease-in 1.2s 1 forwards;
}

@keyframes animatedbackground {
    form { }
    to {
        background-position: 650px 50%;
    }
}

@keyframes animatedbackground1 {
    form { }
    to {
        background-position: 1200px 50%;
    }
}

h1 {
    font-size: 50px;
}

form input:not([type="radio"]):not([type="checkbox"]):not([type="range"]) {
    border: none;
    border-bottom: 1px solid #707070;
    margin-bottom: 2em;
    display: block;
    color: black;
    width: 275px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
}

form p {
    font-weight: 600;
}

form p a {
    font-weight: 700;
    color: #AA1313;
    text-decoration: underline;
}

button {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: #ED3F43;
    border-radius: 5px;
    display: block;
}

button:hover {
    cursor: pointer;
    background-color: #DB4D50;
}

button:disabled {
    cursor: not-allowed;
    background-color: rgb(233, 181, 182);
}

.checkbox-container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkbox-container input[type="checkbox"] + label {
    margin-left: 25px;
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
}

.checkbox-container.checkbox-image input[type="checkbox"] + label {
    position: absolute;
    top: 0;
    margin-left: auto;
}

.checkbox-container > input[type="checkbox"] {
    display: none;
}

.checkbox-container,
.checkbox-container input[type="checkbox"] + label {
    cursor: pointer;
}

.checkbox-container input[type="checkbox"] + label::before,
.checkbox-container input[type="checkbox"] + label::after {
    position: absolute;
    z-index: 100;
}

.checkbox-container input[type="checkbox"] + label::before {
    content: '';
    width: 17px;
    height: 17px;
    border: 1px solid #AA1313;
    display: inline-block;
    position: absolute;
    left: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 5px -1px #AA1313,
                inset 0px 0px 5px -1px #AA1313;
    background-color: white;
    filter: blur(1px);
}

.checkbox-container input[type="checkbox"] + label::after {
    content: none;
    display: inline-block;
    border-right: 4px solid #AA1313;
    border-bottom: 4px solid #AA1313;
    width: 4px;
    height: 10px;
    transform: rotate(45deg);
    left: 0.42em;
    top: 0.3em;
    opacity: 0.9;
}

.checkbox-container .checkbox-image input[type="checkbox"] + label::after {
    left: 10em;
    top: 0.35em;
}

.checkbox-container input[type="checkbox"]:checked + label::after {
    content: '';
}

.checkbox-container.checkbox-image input[type="checkbox"] + label::before {
    left: 0.6em;
    top: 0.6em;
}

.checkbox-container.checkbox-image input[type="checkbox"] + label::after {
    left: .934em;
    top: 0.7em;
}

.checkbox-container.checkbox-image,
.checkbox-container > div:first-child {
    display: block;
    position: relative;
    background-size: 100% 100%;
    border: 1px solid #AA1313;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-right: 20px;
}

.checkbox-container.triple-offer > div:first-child {
    background-image: url(../images/special_offer.png);
}

.checkbox-container.big-payday > div:first-child {
    background-image: url(../images/big_payday_feast.png);
}

.checkbox-container.checkbox-image,
.checkbox-container.checkbox-image > div:first-child {
    width: 340px;
    height: 168px;
}